.header {
  position: fixed;
  top: 1.25rem;
  z-index: 100;
  width: 90%;
  padding: 1.5rem 2rem;
  margin: 0 5%;
  border: 1px solid var(--stripe-color);
  background-color: #25192d;
  -webkit-user-select: none;
  user-select: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: var(--foreground-rgb);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.header a:hover,
.header a:focus {
  color: var(--theme);
  outline: none;
}

.header .logo {
  filter: drop-shadow(0 0 2px var(--theme));
}

.header .nav-item {
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.header .nav-item.active,
.header .nav-item:hover,
.header .nav-item:focus {
  border-color: var(--theme);
  outline: none;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .header {
    background-color: rgba(37, 25, 45, 0.95);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}
